.intro {
  margin-bottom: 50px;
}

.img-container {
  text-align: center;
}

.img-container img {
  border-radius: 10px;
}

.home-link {
  color: blue;
}

img {
  object-fit: scale-down;
  width: 80%;
}

@media all and (min-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }

  .intro {
    margin-top: 65px;
    margin-right: 30px;
  }

  h1 {
    margin-bottom: 50px;
  }


}